section {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 280px 280px 280px 280px;
    padding: 40px;
    margin: 45px 0 0px 0;
   
}

.metricas__titulo{
    color: var(--vermelho);
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 0.3em;
    
}

.metricas__subtitulo{
    font-size: 18px;
    font-weight: 500;
    color: #101828;    
}

.metricas__texto{
    color: var(--cinza);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 0.8em;
    
}